{% load static %}
    <!-- Start Courses Area -->
    <section class="courses section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <div class="section-icon wow zoomIn" data-wow-delay=".4s">
                            <i class="lni lni-graduation"></i>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Featured Courses</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    {% for curso in cursos %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single Course -->
                            <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                                <div class="course-image">
                                    <a href="{% url 'curso-detalhe' id=curso.id %}"><img src="{{ curso.imagem.thumb.url }}" alt="{{ curso.nome }}"  alt="#"></a>
                                </div>
                                <div class="content">
                                    <h3><a href="{% url 'curso-detalhe' id=curso.id %}">{{ curso.nome }}</a></h3>
                                    <p>
                                        {{ curso.descricao }}
                                    </p>
                                </div>
                                <div class="bottom-content">
                                    <span class="tag">
                                        Carga Horária: {{ curso.carga_horaria }} h
                                    </span>
                                </div>
                            </div>
                            <!-- End Single Course -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Courses Area -->
