{% load static %}
    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="hero-slider">
            <!-- Single Slider -->
            <div class="hero-inner overlay" style="background-image: url('{% static 'images/hero/slider-bg1.jpg' %}');">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-8 offset-lg-2 col-md-12 co-12">
                            <div class="home-slider">
                                <div class="hero-text">
                                    <h5 class="wow fadeInUp" data-wow-delay=".3s">Inicie hoje!!</h5>
                                    <h1 class="wow fadeInUp" data-wow-delay=".5s">Excellent And Friendly <br> Faculty Members</h1>
                                    <p class="wow fadeInUp" data-wow-delay=".7s">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting <br> industry. Lorem Ipsum has been the industry's
                                        standard
                                        <br>dummy text ever since an to impression.</p>
                                    <div class="button wow fadeInUp" data-wow-delay=".9s">
                                        <a href="{% url 'sobre' %}" class="btn">Learn More</a>
                                        <a href="courses-grid.html" class="btn alt-btn">Our Courses</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Single Slider -->
            <!-- Single Slider -->
            <div class="hero-inner overlay" style="background-image: url('{% static 'images/hero/slider-bg2.jpg' %}');">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-8 offset-lg-2 col-md-12 co-12">
                            <div class="home-slider">
                                <div class="hero-text">
                                    <h5 class="wow fadeInUp" data-wow-delay=".3s">Start to learning Today</h5>
                                    <h1 class="wow fadeInUp" data-wow-delay=".5s">Innovation Paradise<br> For Students </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".7s">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting <br> industry. Lorem Ipsum has been the industry's
                                        standard
                                        <br>dummy text ever since an to impression.</p>
                                    <div class="button wow fadeInUp" data-wow-delay=".9s">
                                        <a href="{% url 'sobre' %}" class="btn">Learn More</a>
                                        <a href="events-grid.html" class="btn alt-btn">Our Events</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Single Slider -->
            <!-- Single Slider -->
            <div class="hero-inner overlay" style="background-image: url('{% static 'images/hero/slider-bg3.jpg' %}');">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-8 offset-lg-2 col-md-12 co-12">
                            <div class="home-slider">
                                <div class="hero-text">
                                    <h5 class="wow fadeInUp" data-wow-delay=".3s">Start to learning Today</h5>
                                    <h1 class="wow fadeInUp" data-wow-delay=".5s">Your Ideas Will Be <br> Heard & Supported</h1>
                                    <p class="wow fadeInUp" data-wow-delay=".7s">Lorem Ipsum is simply dummy text of the
                                        printing and typesetting <br> industry. Lorem Ipsum has been the industry's
                                        standard
                                        <br>dummy text ever since an to impression.</p>
                                    <div class="button wow fadeInUp" data-wow-delay=".9s">
                                        <a href="{% url 'sobre' %}" class="btn">Learn More</a>
                                        <a href="#" class="btn alt-btn">Our Courses</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Single Slider -->
        </div>
    </section>
    <!--/ End Hero Area -->
