{% extends 'base.html'  %}
{% load static %}
{% block content %}
    <!-- Hero Area Start -->
    {% include 'hero-area.html' %}
    <!-- Hero Area End -->

    <!-- About Us Section Start -->
    {% include 'about-us-area.html' %}
    <!-- About Us Section End -->

    <!-- Courses start -->
    {% include 'courses-area.html' %}
    <!-- Courses Section End -->

    <!-- Features Achivement Start -->
    {% include 'achivement-area.html' %}
    <!-- Achivement Section End -->

    <!-- Clients Section Start -->
    {% include 'clients-area.html' %}
    <!-- Clients Section End -->

{% endblock %}

