{% extends 'base.html'  %}
{% load static %}
{% block content %}

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Teachers</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'professores' %}">Teachers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- SECTION TEACHER  -->
    <section id="teachers" class="teachers section">
        <div class="container">
           <div class="row">
              <div class="col-12">
                 <div class="section-title align-center gray-bg">
                    <span>Teachers</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Our Experienced Advisors</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many variations of passages of Lorem
                       Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                 </div>
              </div>
           </div>
           <div class="row">
               {% for prof in professores %}
                  <div class="col-lg-6 col-md-6 col-12">
                     <div class="single-team wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="row">
                           <div class="col-lg-5 col-12">
                              <div class="image">
                                 <img src="{{ prof.foto.thumb.url }}" alt="{{ prof.nome }}" alt="#">
                              </div>
                           </div>
                           <div class="col-lg-7 col-12">
                              <div class="info-head">
                                 <div class="info-box">
                                    <span class="designation">{{ prof.titulacao }}</span>
                                    <h4 class="name"><a href="#">{{ prof.nome }}</a></h4>
                                    <p>
                                        {{ prof.curriculo }}
                                    </p>
                                 </div>
                                 <ul class="social">
                                    <li><a href="{{ prof.facebook }}"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="{{ prof.twitter }}"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="{{ prof.linkedin }}"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="{{ prof.instagram }}"><i class="lni lni-instagram-original"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
           </div>
        </div>
     </section>
    <!-- SECTION TEACHER  -->

{% endblock %}